
$white: (
	00: #ffffff,
);

//grey scale
$grey: (
	10: #f1f2f3,
	30: #c0c4c1,
	40: #a5aab4,
	50: #888f92,
	60: #6d7586,
	70: #565d68,
	80: #404549,
	90: #272921,
	92: #212322,
	95: #1b1d21,
);

//action scale
$action: (
	20: #e6ecff,
	30: #cad7ff,
	40: #80a0ff,
	50: #6e87ff,
	55: #4c64f8,
	60: #0000f3,
	70: #0000c3,
	80: #00188d,
	90: #171f46,
);
