@import './icon-mixins.scss';
@import '../../styles/global-theme-file.scss';

.icon__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

//################################################## account ##############################################

.icon__account--primary {
	@include icon-color-path(var(--icon__primary), var(--icon__hover-press));

	&.disabled {
		@include icon-color-path(var(--icon__disabled));
	}
}

.icon__account--secondary {
	@include icon-color-path(var(--icon__secondary), var(--icon__hover-press));

	&.disabled {
		@include icon-color-path(var(--icon__disabled));
	}
}

.icon__account--boxed {
	@include icon-color-path(var(--icon__primary), var(--icon__hover-press));
	background-color: var(--icon__boxed-default);

	&:hover {
		background-color: var(--icon__boxed-hover);
	}

	&:active {
		background-color: var(--icon__boxed-hover);
	}

	&.disabled {
		@include icon-color-path(var(--icon__disabled));
		background-color: var(--icon__boxed-disabled);
	}
}

.icon__account--non-action {
	@include icon-color-path(var(--icon__non-action));

	&.disabled {
		@include icon-color-path(var(--icon__disabled));
	}
}

.icon__account--primary-button {
	@include icon-color-path(var(--icon__primary-button));

	&.disabled {
		@include icon-color-path(var(--icon__disabled));
	}
}

.icon__account--secondary-button {
	@include icon-color-path(var(--icon__secondary-button));

	&.disabled {
		@include icon-color-path(var(--icon__disabled));
	}
}

.icon__account--secondary-button-hover {
	@include icon-color-path(var(--icon__secondary-button--hover));

	&.disabled {
		@include icon-color-path(var(--icon__disabled));
	}
}

.icon__account--tertiary-button {
	@include icon-color-path(var(--icon__tertiary-button));

	&.disabled {
		@include icon-color-path(var(--icon__disabled));
	}
}

//################################################## action ########################################################

.icon__action--primary {
	@include icon-color-circle(var(--icon__primary), var(--icon__hover-press));

	&.disabled {
		@include icon-color-circle(var(--icon__disabled));
	}
}

.icon__action--secondary {
	@include icon-color-circle(
		var(--icon__secondary),
		var(--icon__hover-press)
	);

	&.disabled {
		@include icon-color-circle(var(--icon__disabled));
	}
}

.icon__action--boxed {
	@include icon-color-circle(var(--icon__primary), var(--icon__hover-press));
	background-color: var(--icon__boxed-default);

	&:hover {
		background-color: var(--icon__boxed-hover);
	}

	&:active {
		background-color: var(--icon__boxed-hover);
	}

	&.disabled {
		@include icon-color-circle(var(--icon__disabled));
		background-color: var(--icon__boxed-disabled);
	}
}

.icon__action--non-action {
	@include icon-color-circle(var(--icon__non-action));

	&.disabled {
		@include icon-color-circle(var(--icon__disabled));
	}
}

.icon__action--primary-button {
	@include icon-color-circle(var(--icon__primary-button));

	&.disabled {
		@include icon-color-circle(var(--icon__disabled));
	}
}

.icon__action--secondary-button {
	@include icon-color-circle(var(--icon__secondary-button));

	&.disabled {
		@include icon-color-circle(var(--icon__disabled));
	}
}

.icon__action--secondary-button-hover {
	@include icon-color-circle(var(--icon__secondary-button--hover));

	&.disabled {
		@include icon-color-circle(var(--icon__disabled));
	}
}

.icon__action--tertiary-button {
	@include icon-color-circle(var(--icon__tertiary-button));

	&.disabled {
		@include icon-color-circle(var(--icon__disabled));
	}
}
